.wrapper {
  width: 90%;
  margin: auto;

  & .title {
    margin: 20px;
    text-align: center;

  }

  & ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & li {
      list-style: none;
    }

    @media screen and (max-width: 500px){
      li{
        padding:9px;
      }
    }

  }

  .items {
    display: flex;
    flex-direction: column;

    & li {
      padding-top: 5px;

      & .icon {
        font-size: 19px;

      }
    }

    span {
      margin-left: 10px;

    }
  }
}

.wrapperDesc {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  .conditions {
    width: 80vw;

    .col-right {
      display: flex;
      justify-content: center;
    }

    .col-left {
      display: flex;
      justify-content: center;
    }

    ul {
      li {
        list-style: none;
        font-size: 14px;

        .icon {
          font-size: 40px;
        }

        span {
          margin-left: 10px;
        }
      }
    }
  }
}