.navbar {
  color: white;
  background: rgb(15, 15, 15);

  & .brand{
    padding:10px;
  }


  & .nav {
    display: flex;
    justify-content: space-evenly;

    & li {
      padding: 0 10px;
    }

    @media screen and (max-width:500px) {
      li {
        padding-top: 10px;
      }
    }
  }
}