.formPage{
    width:50%;
    margin:auto;
    margin-left: 30%;     
}
.form{
        max-height: 9000px;
        border: 3px solid black;
        border-radius: 15px;
        background:#d5edda;
    & h1{
        width: auto;
        height: 46px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 46px;
        /*Le da el color al border la letra*/
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6A8D73;
        text-align: center;
       
    }
    & label{        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        width: auto;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6A8D73;
        height: 29px;
    }
   
    & button{
        background: #6A8D73;
        border-radius: 8px;
        width: auto;
        height: 50px;        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 45%;
    }


    @media screen and (max-width: 576px) {
        button{
            margin-left:35%;
        }
    }
}



@media screen and (max-width: 768px) {
    .formPage {
        width: 90% !important;
        margin: auto;
        margin-left: 5%;
    }
}