$primary: #380a09;
$secondary: #1e3b34;
$success: #79b9af;
$info: #704c46;
$warning: rgb(105, 58, 58);
$danger: rgb(170, 188, 95);
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

@import "bootstrap/scss/bootstrap.scss";
